<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프린터 테스트</title>
    <script>
        // 버튼 클릭 시 프린터로 메시지를 보내는 함수
        function printReceipt() {
            const locale = document.getElementById("locale").value;
            const message = document.getElementById("message").value;
            const port = document.getElementById("port").value;
            const baudRate = parseInt(document.getElementById("baudRate").value);
            const barcode = document.getElementById("barcode").value;
            const qrcode = document.getElementById("qrcode").value;

            if (!locale || !message || !port || !baudRate) {
                alert("모든 값을 입력해주세요.");
                return;
            }

            
            fetch('http://127.0.0.1:5050/print', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    locale: locale,
                    port: port,
                    message: message,
                    baud_rate: baudRate,
                    barcode: barcode,
                    qrcode: qrcode,
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("응답: " + data.message);
            })
            .catch(error => {
                alert("에러 발생: " + error);
            });
        }
    </script>
</head>
<body>
    <h1>프린터 테스트 페이지</h1>
    <div>
        <label for="locale">Locale:</label><br>
        <select id="locale">
            <option value="ko_KR">한국어 (ko_KR)</option>
            <option value="ja_JP">일본어 (ja_JP)</option>
        </select>
    </div>
    <br>
    <div>
        <label for="port">Port:</label><br>
        <input type="text" id="port" value="COM2">
    </div>
    <br>

    <div>
        <label for="baudRate">Baud Rate:</label><br>
        <input type="number" id="baudRate" value="9600">
    </div>
    <br>

    <div>
        <label for="message">Message:</label><br>
        <textarea id="message" rows="5" cols="40">테스트 영수증입니다.</textarea>
    </div>
    <br>
    <div>
        <label for="Barcode">Barcode:</label><br>
        <input type="text" id="barcode" value="">
    </div>
    <br>
    <div>
        <label for="QRcode">QRcode:</label><br>
        <input type="text" id="qrcode" value="">
    </div>
    <br>
    <button onclick="printReceipt()">영수증 인쇄</button>
</body>
</html>